<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        a {
            color: white;
            font-weight: bold;
        }
        a:hover {
            color: red;
            text-decoration: none;
        }
    </style>
<div style="background-color: black; height: 90px">
    <div style="color: whitesmoke; margin-left: 90px;font-weight: bold;">  TORONTO<br/> COMPLIANCE &<br/> AML EVENTS<br/> </div>
  <div style="text-align: right;margin-top: -50px; margin-right: 20px;">
    <a href="http://18.195.199.188">HOME</a>
    <a href="#">EVENTSCALENDAR</a>
    <a href="http://18.195.199.188/the-knowledge-series">THE KNOWLEDGE SERIES</a>
    <a href="http://18.195.199.188/galleries">GALLERY</a>
    <a href="http://18.195.199.188/aboutus">ABOUT US</a>
    <a href="http://18.195.199.188/contactus">CONTACT US</a>
  </div>
</div>



