
{{ include("@ezdesign/full/header.html.twig") }}

<style>
    .form-control {
        background-color: whitesmoke;
        height: 50px;
        width:400px;
    }
    label{
        font-weight: bold;
        color: gray;
    }
</style>
</head>
<div class="container">
    <h5 style="margin-top: 50px">PLEASE FILL OUT THE FORM BELOW TO LOGIN.</h5>
    <form>
        <div class="form-row" style="margin-top:30px;">
            <div class="col">
                <label>Username</label>
                <input  type="text" class="form-control" required>
            </div>
            <div class="col">
                <label>Password</label>
                <input type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-check form-check-inline"  style="margin-top: 10px;">
            <input  class="form-check-input" type="checkbox" id="Checkbox">
            <label class="form-check-label" for="inlineCheckbox3">Remember me</label>
        </div>

        <p ><input type="submit" value="LOGIN" style="background-color: #ff6666; width: 15%; height: 50px; color: white; font-size: large;  font-weight: bold; margin-top: 20px;"></p>
        <a href="#" style="color: #ff6666;">Forgot password?</a>
        <p style="color: gray;">Not Registered? <a href="http://18.195.199.188/member-registration" style="font-weight: bold; color:#ff6666 ">SIGN UP</a></p>
    </form>
</div>